#logoBar{
  width: 30vw;
  height: 100vh;
}
#siteLogo{
  width: 100%;
}
body {
  display: flex;  
  background-color:rgb(103, 218, 218)
}
h1, h3 {
  color:rgb(0, 70, 70);
  font-family: Arial
}
p {
  margin: 10px;
  text-align: center;
}
.card {
  border-radius:10px;
  border-style: solid;
  margin: 2px;
  max-width: 150px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color:beige;
}
#staffGallery{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; 

}
.galleryImage{
  width: auto;
  height: auto;
 
}
@media (max-width: 600px){
  body{
    flex-direction: column;
  }
  
  hr{
    width:90%
  }
  #logoBar{
    height:auto;
  }
  .card{
    width: fit-content;
    min-width: 40%;
    min-height: 80%;
  }
}